<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{layout/base :: head}"></head>
<body>
	<!-- Navigation bar bootstrap -->
	<nav th:replace="~{layout/base :: navbar}"></nav>
	
	<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
	<div class="alert alert-error" th:if="${error != null}" th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>

	<!-- Todos los class son de bootstrap -->
	<div class="container">
		<h1 class="text-primary" th:text="${titulo}"></h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>nombre</th>
					<th>apellido</th>
					<th>email</th>
					<th>fecha</th>
					<th>acción</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.createAt}"></td>
					<td>
							<a class="btn btn-warning btn-xs" th:href="@{/cliente/id/} + ${cliente.id}">Mostrar
							</a>
							<a class="btn btn-primary btn-xs" th:href="@{/cliente/form/} + ${cliente.id}">
									Editar
							</a>

							<a class="btn btn-danger btn-xs" th:href="@{/cliente/delete/id/} + ${cliente.id}">
									Eliminar
							</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="~{layout/base :: footer}"></div>

</body>
</html>